
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url("bg.jpg");
        }

        .chat-container {
            width: 400px;
            background-color: #000000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            width: 100px;
            height: auto;
        }

        .chat-box {
            height: 300px;
            overflow-y: scroll;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fafafa;
        }

        .avatar-selection {
            margin-bottom: 1px;
        }
        

        .avatar-options {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }

        .avatar-option {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
            border: 2px solid transparent;
        }

        .room-selection {
            margin-bottom: 15px;
        }

        .create-room-btn {
            width: 80px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            background-color: #007BFF;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

        .create-room-btn:hover {
            background-color: #0056b3;
        }

        .join-room-btn {
            width: 80px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            background-color: #007BFF;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

        .join-room-btn:hover {
            background-color: #0056b3;
        }

        .input-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }

        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        input {
            width: calc(100% - 150px);
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            width: 80px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            background-color: #007BFF;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0f831c;
        }

        .message {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 5px;
            background-color: #e9e9e9;
            border-radius: 4px;
            position: relative;
        }
        
        .message .sender {
            font-weight: bold;
            margin-right: 5px;
        }
        
        .message .content {
            flex: 1;
        }
        
        .message img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .message-checkbox {
            position: absolute;
            right: 231px;
            top: 89%;
            transform: translateY(-80%); /* Vertikal rata tengah */
            cursor: pointer;
        }
        
        .time-sent {
            font-size: 0.8em;
            color: #000000;
            margin-left: 10px;
        }
        

        .media {
            max-width: 300px;
            max-height: 200px;
            margin-top: 10px;
        }

        .media img, .media video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .time-sent {
            font-size: 0.8em;
            color: #000000;
            margin-left: 10px;
        }
        .sticker-selection {
            margin-bottom: 15px;
        }
        
        .sticker-options {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }
        
        .sticker-option {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        /* Gaya untuk stiker dalam chat */
        .media.sticker {
            width: 100px;  /* Ukuran kotak stiker */
            height: 100px; /* Ukuran kotak stiker */
            object-fit: cover; /* Menghindari pemotongan gambar */
            border-radius: 10px; /* Memberikan sudut yang sedikit melengkung */
        }

        .clear-chat-btn {
            background-color: #e14c58; /* Warna merah */
            color: white;
            padding: 10px;
            border: 1px solid #ddd;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
        }
        
        .clear-chat-btn:hover {
            background-color: #c0392b;
        }

                    /* Style for the pop-up button */
        .popup-btn {
            position: absolute;
            bottom: 640px;
            right: 210px;
            padding: 10px 20px;
            background-color: #007bff;
            border: 1px solid #ddd;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .popup-btn:hover {
            background-color: #0056b3;
        }

        /* Style for the pop-up modal */
        .popup-modal {
            display: none;  /* Hidden by default */
            position: fixed;
            z-index: 1;  /* Stay on top */
            left: 0;
            top: 0;
            width: 100%;  /* Full width */
            height: 100%;  /* Full height */
            background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */
        }

        /* Style the content of the pop-up modal */
        .popup-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 800px;
            position: relative;
        }

        /* Close button style */
        .close-btn {
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            top: 5px;
            right: 10px;
        }

        .close-btn:hover,
        .close-btn:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #close-modal-btn {
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        #close-modal-btn:hover {
            background-color: #218838;
        }

        iframe {
            border-radius: 10px;
        }



                